﻿@model SimpleSocialNetwork.Models.ShowMessageViewModel

<div id="showmessage" class="col-lg-10 p-0">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Messages.First().DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages.First().Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages.First().IsRead)
            </th>
        </tr>

        @foreach (var item in Model.Messages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsRead)
                </td>
            </tr>
        }
    </table>
    @using (Ajax.BeginForm("AddNewMessage", new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loading"}))
    {
        <div class="d-flex">
            @Html.TextAreaFor(x => x.Text, new {@class="col-lg-10" })
            @Html.HiddenFor(x => x.TalkID)

            <input type="submit" value="Send" class="btn btn-primary align-items-center justify-content-end ml-1" />
        </div>
        
    }
</div>

