﻿@model SimpleSocialNetwork.Models.UserViewModel
@{
    ViewBag.Title = "Talk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-2 justify-content-between">
            <p class="text-center">Friends:</p>
            <div class="col-lg-2 flex-column justify-content-center">
                @foreach (var talk in Model.Talks)
                {
                    @Ajax.ActionLink(talk.ToWho.FirstName + " " + talk.ToWho.LastName, "ShowMessage", new {id = talk.Id}, new AjaxOptions {UpdateTargetId = "result", LoadingElementId = "loading"}, new {@class = "btn btn-light btn-outline-dark m-1"})
                }
            </div>
            <div class="col-lg-10">
                <div id="loading" style="display: none;">
                    <div class="d-flex justify-content-center align-content-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
        <div id="result" class="col-lg-10 p-0 m-0">
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
