﻿@model SimpleSocialNetwork.Models.SearchNewFriendViewModel

@{
    ViewBag.Title = "FindFriends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FindFriends</h2>

<div class="container">
    <div class="row">
        <div class="col col-lg-12">
            @using (Ajax.BeginForm("SearchResult", new AjaxOptions { UpdateTargetId = "results", LoadingElementId = "loading"}))
            {
                <div class="row d-flex justify-content-between p-0 ">
                    @Html.AntiForgeryToken()

                    @Html.TextBoxFor(x => x.Name, "Name", new { @class = "form-control col-lg-2 m-1", @placeholder = "Name" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control col-lg-2 m-1", @placeholder = "Surname" })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    @Html.DropDownListFor(x => x.StringGender, Model.TemplateGenders, new { @class = "form-control col-lg-2 m-1" })
                    @Html.DropDownListFor(x => x.Country, Model.Countries, new { @class = "form-control col-lg-2 m-1" })
                    @Html.DropDownListFor(x => x.City, Model.Cities, new { @class = "form-control col-lg-2 m-1" })
                
                    <div class="form-group">
                        <div class="col-lg-2 m-0 p-0">
                            <input type="submit" value="Find" class="btn btn-primary m-1" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="loading" style=" display: none;">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="row">
        <hr class="border-top border-primary" />
    </div>

     <div id="results" class="row">
     </div>
</div>
@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")