﻿@using SimpleSocialNetwork.Dal.Repositories
@using SimpleSocialNetwork.Models
@model SimpleSocialNetwork.Models.UserViewModel

@{
    ViewBag.Title = "FriendsInvites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex mt-4">
    <h2 class="col-lg-12 text-center">Friends requests of @Model.FirstName @Model.LastName</h2>
</div>

<div class="row mt-4 mb-4">
    <div class="col-lg-12 d-flex justify-content-between p-0">
        @if (Model.Requests.Count > 0)
        {
            <p class="col-lg-4 text-left">
                @Html.ActionLink("Find new friend", "FindFriends", null, new { @class = "btn btn-primary" })
            </p>
        }
        <p class="col-lg-4 text-right">
            @Html.ActionLink("Go back", "Index", null, new { @class = "btn btn-danger" })
        </p>
    </div>
</div>



@if (@Model.Requests.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                In/Out
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Requests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Child.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Child.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Child.Email)
                </td>
                <td>
                    @if (@item.IsItOwnRequest)
                    {
                        <text>Out</text>
                    }
                    else
                    {
                        <text>In</text>

                    }

                </td>
                <td>
                    @if (!item.IsItOwnRequest)
                    {
                        @Html.ActionLink("Accept", "AcceptFriendRequest",item); <text> | </text>
                        @Html.ActionLink("Discard", "DiscardFriendRequest", item);
                    }
                    else
                    {
                        <text>waiting for apply</text>
                    }
                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="row d-flex mt-4">
        <h2 class="col-lg-12 text-center">You got no friends yet. @Html.ActionLink("Find new friend", "FindFriends")s?</h2>
    </div>
}

