﻿@model SimpleSocialNetwork.Models.UserViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex mt-4">
    <h2 class="col-lg-12 text-center">Friends of @Model.FirstName @Model.LastName</h2>
</div>

<div class="row mt-4 mb-4">
    <div class="col-lg-12 d-flex justify-content-between p-0">
        @if (Model.Friends.Count > 0)
        {
            <p class="col-lg-4 text-left">
                @Html.ActionLink("Find new friend", "FindFriends", null, new { @class = "btn btn-primary" })
            </p>
            <p class="col-lg-4 text-right">
                @Html.ActionLink("Friends invites", "FriendsInvites",null, new { @class = "btn btn-primary" })
            </p>
        }
        
    </div>
</div>



@if (@Model.Friends.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Friends) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Child.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Child.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Child.Email)
                </td>
                <td>
                    @Html.ActionLink("Send Message", "SendMessage", new{id = item.Child.Id}) |
                    @Html.ActionLink("Unfriend", "Unfriend", item)
                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="row d-flex mt-4">
        <h2 class="col-lg-12 text-center">You got no friends yet. @Html.ActionLink("Find new friends?", "FindFriends")</h2>
        <h3 class="col-lg-12 text-center">@Html.ActionLink("Show friends invites?", "FriendsInvites")</h3>
    </div>
    }
