﻿@model IEnumerable<SimpleSocialNetwork.Models.FullUserViewModel>

<div id="searchresults" class="col-lg-12">
    @if (Model.Count() == 0)
    {
        <h3 class="d-flex text-center align-items-center justify-content-center mb-5">Not found</h3>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.Town)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Town)
                    </td>
                    <td class="d-flex">

                        <div id="sendfriendrequest@{@item.Id}">
                            @if (!item.HasFriendRequest)
                            {
                                @Ajax.ActionLink("Add Friend", "SendFriendRequest", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "sendfriendrequest" + item.Id })
                            }
                            else
                            {
                                <div>Sent</div>
                            }
                        </div>
                        <div class="ml-1 mr-1"> | </div>
                        @Html.ActionLink("Send Message", "SendMessage", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    }
</div>