﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Login-Form-Clean.css">
    <link rel="stylesheet" href="~/Content/Navigation-with-Button.css">
    <link rel="stylesheet" href="~/Content/Navigation-with-Search.css">
    <link rel="stylesheet" href="~/Content/Site.css">

</head>
<body class="pt-0">
    <div class="navbar navbar-dark navbar-expand-md navigation-clean-button">
        <div class="container">
            <a class="navbar-brand">Simple Social Network</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item m-1 p-1" role="presentation">
                        @Html.ActionLink("Profile", "UserProfile", "Profile")
                    </li>
                    <li class="nav-item m-1 p-1" role="presentation">
                        @Html.ActionLink("Friends", "Index", "Friends")
                    </li>
                    <li class="nav-item m-1 p-1" role="presentation">
                        @Html.ActionLink("Messages", "Talk", "Messaging")
                    </li>
                </ul>
                
                <span class="d-flex flex-column">
                    @Html.Partial("_LoginPartial")
                </span>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
