﻿@model SimpleSocialNetwork.Models.FullUserViewModel

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(true);
}

@*<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>userProfile</title>
    <link rel="stylesheet" href="~\fonts\font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>*@

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">User Profile</h2>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col d-flex d-xl-flex flex-column justify-content-start align-items-center justify-content-sm-start align-items-sm-end justify-content-md-start align-items-md-end align-items-lg-end justify-content-xl-end align-items-xl-end">
            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                 style="width: 250px;height: 250px;">
                <i class="fa fa-user border rounded d-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                   style="width: 200px;height: 200px;font-size: 188px;"></i>
            </div>
            <button class="btn btn-primary d-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center" type="button" style="width: 200px; margin-right: 25px; margin-top: 5px; margin-bottom: 5px;">
                <i class="fa fa-camera-retro"></i>
                &nbsp;Change Photo
            </button>
        </div>
        <div class="col">
            <div class="row mt-4">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-group d-flex flex-column justify-content-between ">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group d-flex">
                        @Html.LabelFor(model => model.FirstName, "Name: ", htmlAttributes: new { @class = "col-form-label col-md-3" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group d-flex">
                        @Html.LabelFor(model => model.LastName, "Surname: ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group d-flex">
                        @Html.LabelFor(model => model.Email, "Email: ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group d-flex flex-row">
                        @Html.LabelFor(model => model.Gender, "Gender: ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Gender, Model.Template,new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group d-flex flex-row">
                        @Html.LabelFor(model => model.Country, "Country: ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group d-flex flex-row">
                        @Html.LabelFor(model => model.Town, "Town: ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Town, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="d-flex flex-row justify-content-center align-items-center align-content-center mt-2">
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.ActionLink("Discard", "UserProfile",null,new{@class= "btn btn-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

   
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
}
