﻿@using SimpleSocialNetwork.Models
@model SimpleSocialNetwork.Models.UserProfileViewModel
@{
    ViewBag.Title = "About";
}
@{
    var user = ViewBag.User as UserViewModel;
}
    <div class="container">
        <div class="row">
            <div class="col mt-2">
                <h2 class="text-center">@user.FirstName Profile</h2>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-end justify-content-md-center align-items-md-end align-items-lg-end justify-content-xl-end align-items-xl-end">
            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                 style="width: 250px;height: 250px;">
                <i class="fa fa-user border rounded d-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                   style="width: 200px;height: 200px;font-size: 188px;"></i>
            </div>
            @* //todo:Rewrite for use identity *@
            @if (user.Id != 1)
            {
                <button class="btn btn-primary d-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center" type="button" style="width: 200px; margin-right: 25px; margin-top: 5px; margin-bottom: 5px;">
                    <i class="fa fa-user-plus"></i>
                    &nbsp;Add To Friends
                </button>
                <button class="btn btn-primary d-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center" type="button" style="width: 200px;margin-right: 25px;margin-top: 5px;margin-bottom: 5px;">
                    <i class="fa fa-send"></i>
                    &nbsp;Send Message
                </button>
            }
            
        </div>
        <div class="col">
            <div class="row mt-4">
                <div class="col-auto d-flex flex-column justify-content-center align-self-center justify-content-xl-center align-items-xl-end" style="width: 100px;">
                    <label>Name:</label>
                    <label>Surname:</label>
                    <label>Email:</label>
                    <label>Gender:</label>
                    <label>Country:</label>
                    <label>City:</label>
                </div>
                <div class="col d-flex flex-column" style="padding-right: 0px; padding-left: 0px;">
                    <label>@user.FirstName</label>
                    <label>@user.LastName</label>
                    <label>@user.Email</label>
                    <label>@user.UserProfile.Gender</label>
                    <label>@user.UserProfile.Country</label>
                    <label>@user.UserProfile.Town</label>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex flex-row justify-content-center align-items-center">
                    @Html.ActionLink("Edit", "EditProfile", null, new { @class = "btn btn-primary d-flex justify-content-center align-items-center", @style = "margin-left: 0;" })

                </div>&nbsp;
            </div>
        </div>
    </div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
